@model List<Mvc_BBS.Models.userIinfo>
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserInfo</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table table-hover table-bordered table-condensed text-center">
                <tr>
                    <td>#</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>类别</td>
                    <td>Email</td>
                    <td>QQ</td>
                    <td>有效性</td>
                    <td>操作</td>
                </tr>

                @for (int i=0,j=1;i<Model.Count;j++,i++)
                {
                    <tr>
                        <td>@j</td>
                        <td>@Model[i].name</td>
                        <td>@(Model[i].sex==1?"男":"女")</td>
                        <td>@(Model[i].flag == 1 ? "系统管理员" : "普通会员")</td>
                        <td>@Model[i].email</td>
                        <td>@Model[i].qq</td>
                        <td>@(Model[i].valid == 1 ? "有效" : "无效")</td>
                        <td>
                            @if(Model[i].valid==1)
                            {
                                @Html.ActionLink("变更为无效","CkValid","User",new { vaid= Model[i].valid,uid=Model[i].id },new { @class="btn btn-danger" })
                            }
                            else
                            {
                                @Html.ActionLink("变更为有效", "CkValid", "User", new { vaid = Model[i].valid, uid = Model[i].id }, new { @class = "btn btn-success" })
                            }
                            @Html.ActionLink("重置密码", "ResetPwd", "User", new {  uid = Model[i].id }, new { @class = "btn btn-primary",onclick="return confirm('确定终止密码么？请慎重！')" })
                            
                        </td>

                    </tr>
                }
            </table>
        </div> 
    </div>
</body>
</html>
